# ===================================================================
# Spring Boot configuration for the "dev" profile.
#
# This configuration overrides the application.yml file.
# ===================================================================
# Standard Spring Boot properties.
# Full reference is available at:
# http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
# ===================================================================


spring:
    profiles:
        active: dev
    jackson:
        serialization.INDENT_OUTPUT: true
    datasource:
        initialization-mode: ALWAYS
        data: classpath:data.sql
        schema: classpath:schema.sql
        type: com.zaxxer.hikari.HikariDataSource
        url: jdbc:h2:mem:vendingmachine;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
        username: vendingMachine
        password:
        hikari:
            auto-commit: false
    h2:
        console:
            enabled: true
            path: /h2
    jpa:
        database-platform: org.hibernate.dialect.H2Dialect
        database: H2
        show-sql: true
        hibernate:
          ddl-auto: none
        properties:
            hibernate.id.new_generator_mappings: true
            hibernate.connection.provider_disables_autocommit: true
            hibernate.cache.use_second_level_cache: false
            hibernate.cache.use_query_cache: false
            hibernate.generate_statistics: true
            hibernate.cache.region.factory_class: org.hibernate.cache.ehcache.EhCacheRegionFactory
server:
    port: 8080

